.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
}

.bg-blue-500 {
  background-color: #007bff;
}

.bg-blue-500:hover {
  background-color: #0056b3;
  box-shadow: 0 0 20px 10px rgba(0, 123, 255, 0.9);
  /* Increased intensity and spread */
}

.bg-green-500 {
  background-color: #28a745;
}

.bg-green-500:hover {
  background-color: #1e7e34;
  box-shadow: 0 0 20px 10px rgba(40, 167, 69, 0.9);
  /* Increased intensity and spread */
}

.bg-red-500 {
  background-color: #dc3545;
}

.bg-red-500:hover {
  background-color: #c82333;
  box-shadow: 0 0 20px 10px rgba(220, 53, 69, 0.9);
  /* Increased intensity and spread */
}